@font-face {
  font-family: "iconfont"; /* Project id 4271926 */
  src: url('iconfont.woff2?t=1697677659235') format('woff2'),
       url('iconfont.woff?t=1697677659235') format('woff'),
       url('iconfont.ttf?t=1697677659235') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shipin:before {
  content: "\e631";
}

.icon-biaoqing:before {
  content: "\eb21";
}

.icon-charutupian:before {
  content: "\ec7f";
}

.icon-fenxiang:before {
  content: "\e602";
}

.icon-pinglun:before {
  content: "\e624";
}

.icon-pinglun1:before {
  content: "\e6ad";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-quanzi-xuanzhong:before {
  content: "\e603";
}

.icon-tianchongxing-:before {
  content: "\e63d";
}

.icon-shijian:before {
  content: "\e8c5";
}

.icon-remenx:before {
  content: "\e606";
}

.icon-buganxingqu:before {
  content: "\e687";
}

.icon-ren-pingbi:before {
  content: "\e705";
}

.icon-guanbishouquantubiao:before {
  content: "\e62c";
}

.icon-jubao:before {
  content: "\e604";
}

.icon-shenglvehao:before {
  content: "\e708";
}

.icon-youbangzhu:before {
  content: "\e66f";
}

.icon-liulanliang:before {
  content: "\e68c";
}

.icon-developer-fill:before {
  content: "\e652";
}

.icon-android:before {
  content: "\e669";
}

.icon--books:before {
  content: "\e600";
}

.icon-banshou_Line:before {
  content: "\e64e";
}

.icon-data:before {
  content: "\e609";
}

.icon-xiehuifuwu:before {
  content: "\e65f";
}

.icon-wendangguanli-xiangmuleiwendang:before {
  content: "\e666";
}

.icon-iOS:before {
  content: "\e630";
}

.icon-compass-full:before {
  content: "\e974";
}

.icon-heyue:before {
  content: "\e601";
}

.icon-fenxichaxun:before {
  content: "\e878";
}

