@font-face {
  font-family: "iconfont"; /* Project id 4271926 */
  src: url('iconfont.woff2?t=1695976920935') format('woff2'),
       url('iconfont.woff?t=1695976920935') format('woff'),
       url('iconfont.ttf?t=1695976920935') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-developer-fill:before {
  content: "\e652";
}

.icon-android:before {
  content: "\e669";
}

.icon--books:before {
  content: "\e600";
}

.icon-banshou_Line:before {
  content: "\e64e";
}

.icon-data:before {
  content: "\e609";
}

.icon-xiehuifuwu:before {
  content: "\e65f";
}

.icon-wendangguanli-xiangmuleiwendang:before {
  content: "\e666";
}

.icon-iOS:before {
  content: "\e630";
}

.icon-compass-full:before {
  content: "\e974";
}

.icon-heyue:before {
  content: "\e601";
}

.icon-fenxichaxun:before {
  content: "\e878";
}

